:root{
    --vermelho: #E50914;
    --preto:#141414;
    --branco: white;
    --font-netflix: 'Bebas Neue', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border: 1px solid black;
}

.logo h2{
    color: var(--vermelho);
    font-family: var(--font-netflix);
    font-size: 60px;
    margin: 13px;
}

.options-bar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin:20px;
}

.options-itens{
    margin: 5px;
    color: #AAA;
    font-family: var(--font-netflix);
    font-size: 20px;
}

.options-itens:hover{
    color: #fff;
}

/* Main Tag */

.banner{
    width: 100%;
    height: 562px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)100%), url(../imgs/falcon-and-winter-soldier-banner.jpg);
    background-size: cover;
}

.title{
    font-size: 45px;
    padding: 80px 0 0 30px;
}

.text-description{
  font-size: 20px;
  margin: 20px 0 22px 30px;  
}

.buttons{
   margin: 0 0 0 30px; 
}

.button{
    background-color: rgba(0,0,0,0.5);
    border:none;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    transition: .3s ease all;   
}

.button:hover{
    background-color: white;
    color: black;
}

.button i{
    margin-right: 5px;
}

/* carousel */
.carousel-itens{
    width: 100%;
    height: 100%;
    display: block;
}